body{
    font-family: 'Arial', sans-serif;
    background-color: #e6f2ff;
    background: linear-gradient(90deg, #e6f2ff, #b3d9ff);
    margin: 0;
}

header{
    height: 300px;
    background-image: url(img/BlueBlur.jpg);
    background-size: cover;
    font-size: 26px;
    font-weight: 550;
    color: lightblue;
    text-shadow: 2px 2px dodgerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image {
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#content h3{
    text-align: center;
    margin: 10px 20px;
}

#menu {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    justify-content: space-around;
    list-style-type: none;
}

.profile-text{
    height: 100px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}