body{
    font-family: 'Arial', sans-serif;
    background-color: #bddafa;
    margin: 0;
}

header{
    height: 300px;
    background-image: url(img/BlueBlur.jpg);
    background-size: cover;
    font-size: 26px;
    font-weight: 550;
    color: lightblue;
    text-shadow: 2px 2px dodgerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image {
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#projects h3{
    text-align: center;
    margin: 10px 20px;
}

#projects, #intro, #skills {
    margin: 40px;
    display: flex;
}

#projects {
    flex-wrap: wrap;
    justify-content: space-between;
}

#intro, #skills {
    display: flex;
    flex-direction: column;
}

#menu {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    justify-content: space-around;
    list-style-type: none;
}

.profile-text{
    height: 100px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.article {
    background-color: #d4e9ff;
    border-radius: 5px;
    box-shadow: 5px 8px 12px grey;
    padding: 12px;
    width: 30%;
    margin-top: 20px;
}

.article:hover {
    box-shadow: 5px 8px 12px grey inset;
    cursor: pointer;
}

p {
    margin: 0;
}